<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Math Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <link type="image/png" sizes="16x16" rel="icon" href="static/icons8-check-16.png">
</head>
<body>
    <div class="container">
        <h1 class="title">Math Quiz</h1>
        <p>Select your level:</p>
        <div class="level-buttons">
            <form action="/select_level" method="POST">
                {% for value in list_levels %}
                    <button  type="submit" class="button_style btn " name="level" value="{{ value }}">{{ value }}</button>
                {% endfor %}
        </form>
        </div>
    </div>
    
</body>
</html>
