<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Math Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <script src="/static/scripts.js"></script> 
</head>
<body>
    <div class="quiz-container">
        <h1 class="title">Math Quiz</h1>
        <div class="quiz-box">
            <p class="score">Score: {{ score }}</p>
            <form action="/check_result" method="POST">
                <label id="math-operation">{{ function_r }} ?</label>
                <input type="number" name="user_result" placeholder="Your answer">
                <button onclick="checkAnswer()">Submit</button>
            </form>
            <p id="status_result">{{ status_result }}</p>
            
        </div>
        <div class="timer-container">
            <div id="timer">01:00</div>
            <div id="progress-bar-container">
                <div id="progress-bar"></div>
            </div>
        </div>
        

    </div>

</body>
</html>
